# Export the following names
# useDynLib(SCArray,)

# Export all names
exportPattern("^sc*")

# Import all packages listed as Imports or Depends
import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(DelayedArray)
import(gdsfmt)
importFrom(SummarizedExperiment, SummarizedExperiment, colData, rowData, assays)
importFrom(SingleCellExperiment, SingleCellExperiment)
# import(Matrix)
# importFrom(stats, )
importFrom(utils, object.size, packageVersion, str)
