# Export the following names
useDynLib(SCArray,
)

# Export all names
exportPattern("^sc*")

# Import all packages listed as Imports or Depends
import(methods)
import(Rcpp)
importFrom(stats, as.formula, binomial, gaussian, glm, lm, model.frame,
    model.matrix, model.response, na.omit, sd, var, qnorm)
importFrom(utils, object.size, packageVersion, str)
importFrom(gdsfmt, createfn.gds, openfn.gds, closefn.gds, index.gdsn, ls.gdsn,
    add.gdsn, read.gdsn, readex.gdsn, readmode.gdsn, put.attr.gdsn,
    get.attr.gdsn)
importFrom(RcppParallel, setThreadOptions, RcppParallelLibs)
