# Export the following names
# useDynLib(SCArray,)

# Export all names
exportPattern("^sc*")
# export(SCArraySeed)

# Import all packages listed as Imports or Depends
import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(DelayedArray)
importFrom(SummarizedExperiment, SummarizedExperiment, colData, rowData)
importFrom(SingleCellExperiment, SingleCellExperiment)
import(Rcpp)
# import(Matrix)
# importFrom(stats, )
importFrom(utils, object.size, packageVersion, str)
importFrom(gdsfmt, createfn.gds, openfn.gds, closefn.gds, index.gdsn, ls.gdsn,
    add.gdsn, read.gdsn, readex.gdsn, readmode.gdsn, put.attr.gdsn,
    get.attr.gdsn, objdesp.gdsn)
importFrom(RcppParallel, setThreadOptions, RcppParallelLibs)
